div {
    margin: 20px;
}
header {
    float: right;
}
h1 {
    margin-top: 40px;
}
table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
button {
    width: 200px;
    height: 40px;
    background-color: skyblue;
    float: right;
}
a.add {
    color: white;
}